@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';

@theme {
  --color-blackground: #1a1a1a;
  --color-background: #292c33;
  --color-green: #a1c281;
  --color-orange: #c99c6e;
  --color-red: #e06c75;
  --color-purple: #bb7cd7;
  --color-blue: #74ade9;
  --color-cyan: #6fb4c0;
  --color-yellow: #dbbe82;
  --color-white: #eee;
  --color-gray: #3c4047;
  --color-border: #333;
}

body {
  background-color: var(--color-blackground);
  color: var(--color-white);
  /* font-family: monospace, monospace; */
  font-family: 'Nunito Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

header,
main {
  max-width: 640px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
}

.home.dev {
  color: var(--color-green);
}

/* Mobile menu animation */
.expand-enter-from,
.expand-leave-to {
  max-height: 0;
  /* opacity: 0.5; */
}
.expand-enter-to,
.expand-leave-from {
  max-height: 200px; /* Adjust based on your content */
  /* opacity: 1; */
}

.expand-enter-active,
.expand-leave-active {
  transition:
    max-height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.indented {
  /* ml-0.5 pl-3 border-l-2 border-gray */
  margin-left: 2px;
  padding-left: 12px;
  border-left-width: 2px;
  border-color: var(--color-border);
}
